
.txt{ 
    color: white;
    text-decoration: none;
    img{ 
        width: 40px;
        height: 40px;
    }  
}


.sign-up:hover{ 
    border: 1px solid black;
    color: black;
    transition: .3s;
    background-color: transparent;
    transform: scale(1.1);
    .txt{ 
        color: black;
        transition: .3s;
    }
}
